.about-container {
  .about-stack-container {
    .about-stack {
      margin-left: $padding;
    }
    .stack {
      .techs {
        display: flex;
        flex-direction: column;
        .techs-name {
          margin-left: $padding;
        }
        .techs-list {
          //margin: $padding 0;
          padding-left: $padding;
          display: flex;
          flex-wrap: wrap;

          a {
            color: $font-color;
          }
        }
      }
    }
  }
}

@include small-breakpoint {
  .about-container {
    .about-stack-container {
      .stack {
        .techs {
          .techs-name {
            margin-right: $padding;
          }
        }
      }
    }
  }
}
