.intro {
  display: flex;
  flex-direction: column;

  .photo {
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 1rem;
    align-self: center;
  }

  .subtitle {
    height: 35px;
  }
}

@include small-breakpoint {
  .intro {
    flex-direction: row;
    align-items: center;
    height: 170px;

    .title {
      margin: $padding 0;
    }

    .subtitle {
      margin: $padding 0;
    }
  }
}
