.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $margins;

  .footer-copyright {
    display: flex;

    .copyright {
      margin-right: 5px;
    }
  }

  .links {
    font-size: 1.7rem;
    display: flex;

    .link {
      margin: 0 $padding;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
