.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $margins;

  .footer-copyright {
    display: flex;
    flex-direction: column;

    .separator {
      display: none;
    }
  }

  .links {
    font-size: 1.7rem;
    display: flex;

    .link {
      margin: 0 $padding;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@include small-breakpoint {
  .footer-container {
    .footer-copyright {
      flex-direction: row;

      .separator {
        display: flex;
        margin: 0 5px;
      }
    }
  }
}