.info-block {
  font-family: 'Patrick Hand';
  font-size: 1.5rem;
  margin: $padding;
  strong {
    color: $primary-color;
    font-weight: normal;
  }
}

@include small-breakpoint {
  .info-block {
    margin: $margins;
  }
}
